.shopcard {
    position: relative;
    margin: 20px 20px 0 0; 
    padding: .75rem;
    width: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#fff;
    border-radius: .25rem;
    box-shadow:0 0 5px 0 rgb(0 0 0 / 5%);
}
.shopcard__img {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height:150px;
}
.shopcard__img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.shopcard__stock {
    position: absolute;
    top: 8px;
    right:0;
    padding: 3px 10px;
    white-space: nowrap;
    font-size: .75rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 1.25rem;
    background-color: rgb(195, 35, 42);
}

.shopcard__details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shopcard__details > h4 {
    font-size: 1rem;
    color: #1d2531;
    font-weight: 600;
    padding: 0.5rem;
    cursor: pointer;
}
.shopcard__details > p {
    display: flex;
    align-items: center;
}
.shopcard__details > p > span {
    font-size: 1rem;
    font-weight: 700;
}
.shopcard__details > p > span.old {
    color:#cbd5e0;
    margin-right: 4px;
}

.shopcard__buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopcard__buttons > button {
    font-size: .75rem;
    line-height: 1.5;
    color: #fff;
    font-weight: 500;
    padding: 4px 24px;
    border: none;
    border-radius: 999px;
    cursor: pointer;
} 
.shopcard__buttons > button.chat {
    background-color: #1d2531;
    margin-right: 5px;
}
.shopcard__buttons > button.buy {
    background-color: #c9151b;
}

@media (max-width:960px) {
    .shopcard {
        margin: 10px 10px 0 0; 
        padding: .5rem;
        width: 240px;
    }
}